@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@ViewBag.Title</h1>
        <h2>An error occurred while processing your request.</h2>
        <div class="isa_error" style="font-size:20px;color:red">
            <i class="fa fa-times-circle">
                @ViewBag.Message
            </i>
        </div>
        <br />
        <p>
            @Html.ActionLink("Back to Home Page", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </hgroup>
</body>
</html>
<a href="~/Views/Account/Error.cshtml">~/Views/Account/Error.cshtml</a>